In [38]:
import csv
import pandas as pd

In [39]:
from pathlib import Path

In [40]:
#set the path

In [41]:
csvpath = Path('/c/users/vince/desktop/jupiter/nu-chi-virt-fin-pt-04-2021-u-c/02-Python/Homework/Instructions/PyBank/Resources')

In [43]:
#C:\Users\vince\Desktop\jupiter\nu-chi-virt-fin-pt-04-2021-u-c\02-Python\Homework\Instructions\PyBank\Resources

In [44]:
import os

In [45]:
os.getcwd()

'C:\\Users\\vince\\Desktop\\Homework\\Python-Homework\\PyBank'

In [46]:
csvpath = Path('C:/Users/vince/Desktop/jupiter/nu-chi-virt-fin-pt-04-2021-u-c/02-Python/Homework/Instructions/PyBank/Resources')

In [47]:
budget_data = pd.read_csv('C:/Users/vince/Desktop/Homework/Python-Homework/PyBank/budget_data.csv')

In [48]:
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [ ]:
# Total number of months included in the dataset

In [49]:
Total_Months = len(budget_data.index)

In [50]:
Total_Months

86

In [51]:
len(budget_data["Date"])

86

In [52]:
Total_Months_output = (f"Total Months: {Total_Months}" )
Total_Months_output

'Total Months: 86'

In [8]:
# Net total amount of PnL for entire period

In [53]:
Total_Pnl = sum(budget_data["Profit/Losses"])

In [54]:
Total_Pnl_output = (f"Total_Pnl: ${Total_Pnl}")
Total_Pnl_output

'Total_Pnl: $38382578'

In [11]:
# Average of the changes of Pnl over entire period

In [57]:
budget_data['Shift_PL'] = budget_data['Profit/Losses'].shift()
budget_data.head()

       Date  Profit/Losses  Shift_PL
0  Jan-2010         867884       NaN
1  Feb-2010         984655  867884.0
2  Mar-2010         322013  984655.0
3  Apr-2010         -69417  322013.0
4  May-2010         310503  -69417.0

In [74]:
budget_data['difference'] = budget_data['Profit/Losses'] - budget_data['Shift_PL'] 
budget_data.head()

       Date  Profit/Losses  Shift_PL  difference
0  Jan-2010         867884       NaN         NaN
1  Feb-2010         984655  867884.0    116771.0
2  Mar-2010         322013  984655.0   -662642.0
3  Apr-2010         -69417  322013.0   -391430.0
4  May-2010         310503  -69417.0    379920.0

In [75]:
budget_data['difference'].mean()

-2315.1176470588234

In [76]:
# Greatest increase in profits (date and amount) over the entire period

In [104]:
max_increase_profit_output = budget_data['difference'].max()
max_increase_profit_output

1926159.0

In [107]:
max_increase_date_output = budget_data.loc[budget_data['difference'] == 1926159.0, 'Date'].item()
max_increase_date_output

'Feb-2012'

In [96]:
# Greatest decrease in losses (date and amount) over entire period

In [110]:
max_decrease_profit_output = budget_data['difference'].min()
max_decrease_profit_output

-2196167.0

In [112]:
max_decrease_date_output = budget_data.loc[budget_data['difference'] == -2196167.0, 'Date'].item()
max_decrease_date_output

'Sep-2013'

In [129]:
# Output to txt file process
output_path = 'HW_answer_key.txt'

In [151]:
with open(output_path,'w') as file:  
    file.write(f"{Total_Months_output}.\n")
    file.write(f"{Total_Pnl_output}.\n")
    file.write(f"Greatest increace in profits: {max_increase_date_output} {max_increase_profit_output}.\n")
    file.write(f"Greatest decrease in profits: {max_decrease_date_output} {max_decrease_profit_output}.\n")