In [1]:
import csv
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
#set the path

In [4]:
csvpath = Path('/c/users/vince/desktop/jupiter/nu-chi-virt-fin-pt-04-2021-u-c/02-Python/Homework/Instructions/PyBank/Resources')

In [5]:
C:\Users\vince\Desktop\jupiter\nu-chi-virt-fin-pt-04-2021-u-c\02-Python\Homework\Instructions\PyBank\Resources

SyntaxError: unexpected character after line continuation character (<ipython-input-5-cccab6939233>, line 1)

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\vince\\Desktop\\Homework\\Python-Homework\\PyBank'

In [8]:
csvpath = Path('C:/Users/vince/Desktop/jupiter/nu-chi-virt-fin-pt-04-2021-u-c/02-Python/Homework/Instructions/PyBank/Resources')

In [9]:
budget_data = pd.read_csv('C:/Users/vince/Desktop/Homework/Python-Homework/PyBank/budget_data.csv')

In [10]:
budget_data.head(4)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417

In [11]:
len(budget_data.index)

86

In [12]:
Total_Months = len(budget_data.index)

In [13]:
Total_Months

86

In [14]:
len(budget_data["Date"])

86

In [15]:
# Net PnL

In [23]:
sum(budget_data["Profit/Losses"])

38382578